@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Uncut Sans";
  src: url("../../public/fonts/Uncut-Sans-VF.ttf");
}

:root {
  /* Custom colors */
  --background: #ffffff;
  --foreground: #171717;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --foundation-primary-white-darker: #575858;

  /* Custom Fonts */
  --font-uncut-sans: "Uncut Sans", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  .primary-button {
    @apply flex h-10 w-full items-center justify-center gap-x-2 rounded-lg border-none bg-primary-black py-1 text-center font-semibold text-white;
  }

  .primary-button:hover {
    background-color: #232323 !important;
    color: lightGray !important;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --------- Custom Utilities ----------- */

.flex-center-start {
  @apply flex items-center justify-start;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-center-between {
  @apply flex items-center justify-between;
}

.flex-start-between {
  @apply flex items-start justify-between;
}

.flex-center-start {
  @apply flex items-center justify-start;
}

.flex-start-start {
  @apply flex items-start justify-start;
}

.flex-stretch-between {
  @apply flex items-stretch justify-between;
}

.border-red {
  @apply border border-red-500;
}

.no-margin {
  margin: 0 !important;
}

/* Ant design custom styles */
.ant-form * {
  font-family: var(--font-uncut-sans) !important;
}

:where(.css-dev-only-do-not-override-cg5zrz).ant-form-item {
  margin: 0 !important;
}

.ant-collapse * {
  font-family: var(--font-uncut-sans) !important;
}

.ant-otp * {
  font-family: var(--font-uncut-sans) !important;
  font-size: 1.3rem !important;
  font-weight: bold !important;
}
.ant-otp {
  column-gap: 16px !important;
}
.ant-otp input {
  height: 55px !important;
  width: 55px !important;
}

.ant-tag {
  font-family: var(--font-uncut-sans) !important;
}

.ant-table * {
  font-family: var(--font-uncut-sans) !important;
}

.ant-dropdown * {
  font-family: var(--font-uncut-sans) !important;
}
.ant-dropdown-trigger {
  color: white !important;
}

.ant-table-column-sorter-inner .active > svg {
  color: rgb(38, 255, 0) !important;
}

.ant-table-column-sorter-up > svg,
.ant-table-column-sorter-down > svg {
  color: white !important;
}

.ant-btn,
.ant-btn * {
  font-family: var(--font-uncut-sans) !important;
}
